<html>
    <head>
        <title>Demo App</title>
        <link rel='stylesheet' type="text/css" href="./demo.css">
    </head>
    <body>
        <div class="container main">
            <div class="inputForm">
                <form action="/add" method="POST">
                    <h1>Please Insert Your Details</h1>
                    <input type="text" name="name" placeholder="Name">
                    <input type="number" name="age" placeholder="Age">
                    <button>Submit</button> 
                </form>
            </div>
            <div class="personsContainer">
                <h1>Added Persons</h1>
                <%if(data.length === 0){%>
                    <h3>No Data Found</h3>
                <%}else{%>
                    <%data.forEach((data) => { %>
                        <div class="personDetails">
                            <h3>Name: <%=data.name%></h3>
                            <p>Age: <%=data.age%></p>
                            <form action="/update/<%=data._id%>" method="GET"><button>edit</button></form><form action="/delete/<%=data._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
                        </div>
                        <br>
                    <%})%>
                <%}%>
            </div>
        </div>
    </body>
</html>